@import '../../stylesheets/themes/theme.docs.style.less';
//
@component-size: 5;
@input-size: @component-size;
@button-size: @component-size;
.input-init();
.button-init();
.popup-init();
//
.group {
    margin: 2.5em 0;
    padding: 20px;
    border: 2px solid @input-background-color;
}

form {
    background-color: @gray10;
    padding: 20px 20px 35px;
    overflow: hidden;
}
//
input.noField {
    margin-bottom: 10px;
}
//
field>input[type="email"]:invalid {background-color: red}
field>input[type="email"]:invalid + span {color: @zerez-red;}