///******************************************/
///*          flezz framework 1.0           */
///******************************************/
///*  Name: name_component
///*  Version: 1.0.0
///*  Description: description name_component
///*  Author: Giancarlo Ortiz.
///*  URI: http://www.zerez.org
///*  License: GNU General Public License v2 or later
///*  License URI: http://www.gnu.org/licenses/gpl-2.0.html
///*  Tags: tab, plugin, css.
///******************************************/
///*  	Content
///*
///*  1. Config component variables.
///*  2. Road map.
///*  3. Base class.
///*  4. Config mixin.
///******************************************/
@import '../../stylesheets/core/mixin/global.mixins.less';
//
///* 1 *//* CONFIG COMPONENT VARIABLES */
//
///* global variables */
///* general option */

//
///* local variables */

//
///* 2 *//* ROAD MAP */
// --------------------------------------------------


// --------------------------------------------------
//
///* 3 *//* BASE CLASS */
.dropdown (@color: #205081, @back-color: #eeeeee) {
    .button(@color, @back-color);
    .selected{
    
    }
    .caret {
        .caret();
    }
    ul {
        display: none;
        margin: 0;
        padding: 0;
        border: 1px solid #ccc;//lighten(@back-color,50%); 
        
        li {
            list-style: none;
            a {
                padding: 8px;
                display: block;
                background-color: @color;
                color: @back-color;
                &:hover {
                    background-color: @back-color;
                    color: @color;
                }
            }
        }
    }
    .open {
        display: block;
    }
}

div.dropdown[data-state="open"] {
    .arrow-selected(@bottom: 1px);
}
div.dropdown[data-state="disabled"] {
    .btn-disabled();
}
//
///* 4 *//* CONFIG MIXIN */
.button (@color: white, @back-color: black) {
    display: inline-block;

    & > a {
        padding: 15px;
        display: block;
        line-height: 100%;
        background-color: @back-color;
        color: @color;
        border: 1px solid lighten(@back-color, 20%);
        &:hover {
            background-color: lighten(@back-color,30%);        
        }
    }
}
//
.dropdown {
    .dropdown(); 
};