///******************************************/
///*          flezz framework 1.0           */
///******************************************/
///*  Name: mixin desing
///*  Version: 1.0
///*  Description: less and css desing element.
///*  Author: Giancarlo Ortiz.
///*  URI: http://www.zerez.org
///*  License: GNU General Public License v2 or later
///*  License URI: http://www.gnu.org/licenses/gpl-2.0.html
///*  Tags: mixin, css.
///******************************************/
///*  	Content
///*
///*  1. General mixin.
///*  1. Design mixin.
///******************************************/
///* local variables */
@overflow-vertical: true;
@font-size-init: 14px;
@link-bar-decoration: true;
@header-fixed: true;
@header-height: 50px;
//
///*  1 */
.desing() when (@overflow-vertical = true){
    @overflow-y: scroll;
}
.desing() when not(@overflow-vertical = true){
    @overflow-y: hidden;
}
.desing() when (@header-fixed = true){
    .header-f() {
        position: fixed;
        top: 0;
        left: 0;
    }

    .body-f() {
        padding-top: @header-height;
    }
}
//
///*  2 */
.arrow-selected(@bg-color: #ffffff, @border-color: #cccccc, @height: 7px, @bottom: 0, @border-width: 1px) {
    & > a {
        position: relative;

        &:after,
        &:before {
            border: @height solid transparent;
            border-style: outset outset solid outset;
            border-bottom-color: @border-color;
            bottom: -1*@bottom;
            content: "";
            height: 0;
            left: 50%;
            margin-left: -1*@height;
            overflow: hidden;
            position: absolute;
            width: 0;     
        }
        &:after {
            background: transparent;
            border-bottom-color: @bg-color;
            bottom: -1*(@border-width + @bottom);       
        }
    }
}
//
.caret() {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 7px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    transition: transform 3s ease 0;
}
//

.btn-disabled(@color-disable: #cccccc; @back-disable: #e6e6e6;){
    a {
        border-color: @back-disable;
        background-color: @back-disable;
        color: @color-disable;

        &:hover,
        &:focus {
            border-color: @back-disable;
            background-color: @back-disable;
            color: @color-disable;
            cursor: not-allowed;
        }
    }

}

//
/* include dsn ------ [ OK ] */ @state: OK;
///******************************************/
///*  	FIN
///******************************************/