///******************************************/
///*          flezz framework 1.0           */
///******************************************/
///*  Name: settings component
///*  Version: 1.0
///*  Description: component variables config
///*  Author: Giancarlo Ortiz.
///*  URI: http://www.zerez.org
///*  License: GNU General Public License v2 or later
///*  License URI: http://www.gnu.org/licenses/gpl-2.0.html
///*  Tags: mixin, css.
///******************************************/
///*  	Content
///*
///*  1. Component.
///*  2. Form.
///******************************************/
//
//* Global Variables */
//
///* 1 */
@gallery: true;
@carousel: false;
@tabs: false;
//
///* 2 */
@form-button: false;
@form-label: false;
@form-imput: false;
@form-switch: false;
@form-slider: false;
//
/* include cmp ------ [ OK ] */ @state: OK;
///******************************************/
///*  	FIN
///******************************************/