///******************************************/
///*          flezz framework 1.0           */
///******************************************/
///*  Name: Button
///*  Version: 1.0.0
///*  Description: description name_component
///*  Author: Giancarlo Ortiz.
///*  URI: http://www.zerez.org
///*  License: GNU General Public License v2 or later
///*  License URI: http://www.gnu.org/licenses/gpl-2.0.html
///*  Tags: Button, plugin, css.
///******************************************/
///*  	Content
///*
///*  1. Config Button variables.
///*  2. Road map.
///*  3. Base class.
///*  4. Config mixin.
///*  5. preconfigured patterns.
///******************************************/
//
///* 1 *//* CONFIG BUTTON VARIABLES */
//
///* global variables */
///* general option */
@button-text-transform: none;
@button-font-weight: normal;
//
@button-background-image: none;
@button-hover-background-image: none;
@button-active-background-image: none;
@button-selected-background-image: none;
//
@button-box-shadow: none;
@button-hover-box-shadow: none;
@button-active-box-shadow: none;
@button-selected-box-shadow: none;
//
@button-border-radius: 0.25em;
//
@mini: 0.6rem;
@tiny: 0.7rem;
@small: 0.85rem;
@medium: 0.92rem;
@large: 1rem;
@big: 1.125rem;
@huge: 1.25rem;
@massive: 1.3rem;
//
@button-background-color: #EEEEEE;
@button-background-hover-color: #DDDDDD;
@button-background-active-color: #DDDDDD;
@button-background-selected-color: #DDDDDD;
//
@button-color: #EEEEEE;
@button-hover-color: #EEEEEE;
@button-active-color: #EEEEEE;
@button-selected-color: #EEEEEE;
//
//
@button-border-width: 1px;
@button-text-shadow: true;
@button-degraded: true;
@button-depth: true;

///* local variables */

//
///* 2 *//* ROAD MAP */
// --------------------------------------------------
@button-border-radius: true;
//
@default: rgb(219, 219, 219);
@prymary: rgb(40, 96, 144);
@success: rgb(68,157,68);
@info: rgb(49,176,213);
@warning: rgb(236,151,31);
@danger: rgb(217,83,79);
//
// --------------------------------------------------
//
///* 3 *//* BASE CLASS */
.button-box (@color: white; @back-color: black; @border-color: transparent; @border-width: 1px; @size: 4) {
    @font-base : 1rem * (@size + 6) / 10;
    @font-70 : @font-base * (3 + @size)/10;
    @radius: 1rem * (5*@size + 15)/100;
    @padding: @font-70 @font-base;
    display: inline-block;
    .user-select();

    & > a {
        cursor: default;
        .button(@color; @back-color; @border-color; @border-width; @padding; @radius;);
    }
}

.button (@color: white; @back-color: black; @border-color: transparent; @border-width: 1px; @padding: 1rem; @radius: 0;) {
    font-size: @font-base;
    padding: @padding;
    display: block;
    line-height: 100%;
    background-color: @back-color;
    color: @color;
    border: @border-width solid @border-color;
    .button-border-radius(@radius); 
    .button-text-shadow(@color);
    .button-degraded();
    .button-depth();
    
    &:hover {
        background-color: lighten(@back-color,4%);
        border-color: lighten(@back-color, 3%);
    }
    &:active {
        border-color: lighten(@back-color, 7%);
        .button-degraded-active();
    }
}

//
///* 4 *//* CONFIG MIXIN */
.button-border-radius(@radius) when (@button-border-radius = true){
    border-radius: @radius;
}

.button-text-shadow(@text-color) when (@button-text-shadow = true) {
    @shadow-color: contrast(@text-color, fade(black,20%), white);
    text-shadow: 0 -1px 0 @shadow-color;
}

.button-depth() when (@button-depth = true) {
  box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);
}

.button-degraded() when (@button-degraded = true) {
    background-image: linear-gradient(rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%);
}

.button-degraded-active() when (@button-degraded = true) {
    background-image: linear-gradient(rgba(0,0,0,.2) 0%, rgba(255,255,255,.2) 100%);
}
//
///* 5 *//* PRECONFIGURED PATTERNS */
.btn-default(@btn-size){
    .button-box (@color: black; @back-color: @default; @border-color: darken(@default,7%); @border-width: 1px; @size: @btn-size);
}

.btn-primary(@btn-size){
    .button-box (@color: white; @back-color: @prymary; @border-color: darken(@prymary,7%); @border-width: 1px; @size: @btn-size);
}

.btn-success(@btn-size){
    .button-box (@color: white; @back-color: @success; @border-color: darken(@success,7%); @border-width: 1px; @size: @btn-size);
}

.btn-info(@btn-size){
    .button-box (@color: white; @back-color: @info; @border-color: darken(@info,7%); @border-width: 1px; @size: @btn-size);
}

.btn-warning(@btn-size){
    .button-box (@color: white; @back-color: @warning; @border-color: darken(@warning,7%); @border-width: 1px; @size: @btn-size);
}

.btn-danger(@btn-size){
    .button-box (@color: white; @back-color: @danger; @border-color: darken(@danger,7%); @border-width: 1px; @size: @btn-size);
}

.btn-disabled(@btn-size){
    .button-box (@color: gray; @back-color: white; @border-color: darken(white,7%); @border-width: 1px; @size: @btn-size);
}

