///******************************************/
///*          flezz framework 1.0           */
///******************************************/
///*  Name: Button
///*  Version: 0.1.1
///*  Description: description name_component
///*  Author: Giancarlo Ortiz.
///*  URI: http://www.zerez.org
///*  License: GNU General Public License v2 or later
///*  License URI: http://www.gnu.org/licenses/gpl-2.0.html
///*  Tags: Button, plugin, css.
///******************************************/
///*  	Content
///*
///*  1. Config Button variables.
///*  2. Road map.
///*  3. Base class.
///*  4. Config mixin.
///*  5. preconfigured patterns.
///******************************************/
//
///* 1 *//* CONFIG BUTTON VARIABLES */
//
///* global variables */
///* general option */
//
@button-text-transform: true;
@button-border-radius: true;
@button-text-shadow: true;
@button-degraded: true;
@button-depth: true;
//
@button-default-font-color: rgb(145, 145, 145);
@button-default-background-color: rgb(238, 238, 238);
@button-default-border-color: darken(@button-default-background-color,20%);
@button-default-border-width: 1px;
@button-default-size: 4;
@button-line-height: 1.428571429; // 20/14
//
@default: rgb(219, 219, 219);
@prymary: rgb(40, 96, 144);
@success: rgb(68,157,68);
@info: rgb(49,176,213);
@warning: rgb(236,151,31);
@danger: rgb(217,83,79);
//
//
///* local variables */
//
///* 2 *//* ROAD MAP */
// --------------------------------------------------



//
// --------------------------------------------------
//
///* 3 *//* BASE CLASS */
.button-box (@color: @button-default-font-color; @back-color: @button-default-background-color; @border-color: @button-default-border-color; @border-width: @button-default-border-width; @size: @button-default-size;) {
    @font-base : 1rem * (@size + 6) / 10;
    @font-70 : @font-base * (@size)/10;
    @radius: 1rem * (5*@size + 15)/100;
    @padding: @font-70 @font-base;
    display: inline-block;
    .user-select();

    & > a {
        cursor: default;
        .button(@color; @back-color; @border-color; @border-width; @padding; @radius;);
    }
}

.button-disabled (@color: @button-default-font-color; @back-color: @button-default-background-color; @border-color: @button-default-border-color; @border-width: @button-default-border-width; @size: @button-default-size;) {
    @font-base : 1rem * (@size + 6) / 10;
    @font-70 : @font-base * (3 + @size)/10;
    @radius: 1rem * (5*@size + 15)/100;
    @padding: @font-70 @font-base;
    display: inline-block;
    .user-select();
    
    & > a,
    & > a:hover,
    & > a:active {
        font-size: @font-base;
        padding: @padding;
        display: block;
        line-height: @button-line-height;
        background-color: @back-color;
        color: @color;
        border: @border-width solid @border-color;
        text-decoration: none; 
        cursor: not-allowed;
        .button-border-radius(@radius);
        .button-text-transform();
        //.button-text-shadow(@color);
        .button-degraded();
        .button-depth();
    }
}

.button-round (@color: @button-default-font-color; @back-color: @button-default-background-color; @border-color: @button-default-border-color; @border-width: @button-default-border-width; @size: @button-default-size;) {
    @font-base : 1rem * (@size + 6) / 10;
    @font-70 : @font-base * (3 + @size)/10;
    @radius: 1rem * (5*@size + 15)/100;
    @padding: @font-70 @font-base;
    display: inline-block;
    .user-select();

    & > a {
        cursor: default;
        .button(@color; @back-color; @border-color; @border-width; @padding; 2em;);
    }
}
    
.button (@color: @button-default-font-color; @back-color: @button-default-background-color; @border-color: @button-default-border-color; @border-width: @button-default-border-width; @padding: 1rem; @radius: 0;) {
    font-size: @font-base;
    padding: @padding;
    display: block;
    line-height: @button-line-height;
    background-color: @back-color;
    color: @color;
    border: @border-width solid @border-color;
    transition: background-color 200ms ease-out;
    text-decoration: none; 
    .button-border-radius(@radius); 
    .button-text-shadow(@color);
    .button-degraded();
    .button-depth();
    
    &:hover {
        background-color: lighten(@back-color,4%);
        //border-color: lighten(@back-color, 3%);
    }
    &:active {
        border-color: lighten(@back-color, 7%);
        .button-degraded-active();
    }
}
//
///* 4 *//* CONFIG MIXIN */
.button-border-radius(@radius) when (@button-border-radius = true) {
    border-radius: @radius;
}

.button-border-radius-round() when (@button-border-radius-round = true) {
    border-radius: 50%;
}

.button-text-transform() when (@button-text-transform = true){
    text-transform: capitalize;
}

.button-text-shadow(@text-color) when (@button-text-shadow = true) {
    @shadow-color: contrast(@text-color, fade(black,20%), #ddd);
    text-shadow: 0 -1px 0 @shadow-color;
}

.button-depth() when (@button-depth = true) {
  box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);
}

.button-degraded() when (@button-degraded = true) {
    background-image: linear-gradient(rgba(255,255,255,.4) 0%, rgba(0,0,0,.3) 100%);
}

.button-degraded-active() when (@button-degraded = true) {
    background-image: linear-gradient(rgba(0,0,0,.2) 0%, rgba(255,255,255,.1) 100%);
}
//
///* 5 *//* PRECONFIGURED PATTERNS */
///* boostrap patterns *///
.btn-default(@btn-size){
    .button-box (@color: black; @back-color: @default; @border-color: darken(@default,7%); @border-width: 1px; @size: @btn-size);
}

.btn-primary(@btn-size){
    .button-box (@color: white; @back-color: @prymary; @border-color: darken(@prymary,7%); @border-width: 1px; @size: @btn-size);
}

.btn-success(@btn-size){
    .button-box (@color: white; @back-color: @success; @border-color: darken(@success,7%); @border-width: 1px; @size: @btn-size);
}

.btn-info(@btn-size){
    .button-box (@color: white; @back-color: @info; @border-color: darken(@info,7%); @border-width: 1px; @size: @btn-size);
}

.btn-warning(@btn-size){
    .button-box (@color: white; @back-color: @warning; @border-color: darken(@warning,7%); @border-width: 1px; @size: @btn-size);
}

.btn-danger(@btn-size){
    .button-box (@color: white; @back-color: @danger; @border-color: darken(@danger,7%); @border-width: 1px; @size: @btn-size);
}

.btn-disabled(@btn-size){
    .button-disabled (@color: gray; @back-color: white; @border-color: darken(white,7%); @border-width: 1px; @size: @btn-size);
}
///* Fundation patterns *///
.button-success(@btn-size){
    .button-box (@color: gray; @back-color: white; @border-color: darken(white,7%); @border-width: 1px; @size: @btn-size);
}