///******************************************/
///*          flezz framework 1.0           */
///******************************************/
///*  Name: dropdown
///*  Version: 0.2.0
///*  Description: description dropdown
///*  Author: Giancarlo Ortiz.
///*  URI: http://www.zerez.org
///*  License: GNU General Public License v2 or later
///*  License URI: http://www.gnu.org/licenses/gpl-2.0.html
///*  Tags: dropdown, mixin, plugin, css.
///******************************************/
///*  	Content
///*
///*  1. Config modules.
///*  2. Road map.
///*  3. Base Modules.
///*  4. Config mixin.
///*  5. preconfigured patterns.
///*  6. initialized patterns.
///******************************************/
///* PATH */
//
///* Dependencies */
@import 'desing/_config.desing.less';
//
///* 1 *//* CONFIG MODULES VARIABLES *///
//
///* global variables */
///* general option */
@dropdown-shadow: true;
@dropdown-select: false;
@dropdown-width-auto: false;
///* dropdown size */
@dropdown-width: 140px;
@dropdown-radius-width: 4px;
@dropdown-content-radius-width: 4px;
@dropdown-content-padding: 28px;
@dropdown-border-width: 1px;
@dropdown-gap: @dropdown-border-width*2;
@dropdown-link-padding-topbottom: 10px;
@dropdown-link-padding-leftright: 15px;
///* dropdown list */
@dropdown-list-background-color: @white;
@dropdown-list-font-color: @primary;
@dropdown-list-border-color: darken(@dropdown-list-background-color, 20%);
///* dropdown list hover */
@dropdown-list-background-hover-color: darken(@dropdown-list-background-color,4%);
@dropdown-list-font-hover-color: darken(@dropdown-list-font-color,7%);
///* dropdown button */
@dropdown-button-default-background-color: @dropdown-list-background-hover-color;
@dropdown-button-default-font-color: @dropdown-list-font-hover-color;
@dropdown-button-default-border-color: transparent;
//
///* local variables */
@dfl-btn-bck: @dropdown-button-default-background-color;
@dfl-btn-color: @dropdown-button-default-font-color;
@dfl-btn-border: @dropdown-button-default-border-color;
//
///* 2 *//* ROAD MAP */
// --------------------------------------------------

// --------------------------------------------------
//
///* 3 *//* BASE MODULES */
.drp-dropdown (@drp-button: false) {
    position: relative;
    .drp-button(@drp-button);
    .drp-select();
    a{display: block;}
    
    ul {
        position: absolute;
        top: ~'calc(100% + 10px)';
        display: none;
        margin: 0;
        padding: 0;
        border: 1px solid @dropdown-list-border-color;
        background-color: @dropdown-list-background-color;
        min-width: 160px;
        z-index: 900;
        .drp-shadow();
        
        li {
            display: block;
            list-style: none;
            &:first-child {
                padding-top: 7px;
            }
            &:last-child {
                padding-bottom: 7px;
            }            
            
            a {
                padding: 7px 15px;
                text-decoration: none;
                color: @dropdown-list-font-color;
                
                &:hover {
                    background-color: @dropdown-list-background-hover-color;
                    color: @dropdown-list-font-hover-color;
                }
            }
        }
    }
    .open {
        display: block;
    }
    .caret {
        .caret();
    }
}
//
///* 4 *//* CONFIG MIXIN */
.drp-select() when (@dropdown-select = false) {
    .user-select();
}

.drp-button(@drp-button) when (@drp-button = true) {
    .btn-pattern-box (@dfl-btn-color; @dfl-btn-bck; @dfl-btn-border; @size: 4);
}

.drp-button-disabled(@drp-button) when (@drp-button = true) {
    div.dropdown[data-state="disabled"] {
        cursor: not-allowed;      
        .btn-pattern-box (@dfl-btn-color; @dfl-btn-bck; @dfl-btn-border; @size: 4);
    }
}

.drp-shadow() when (@dropdown-shadow = true) {
    box-shadow: 1px 2px 3px 0 rgba(34,36,38,.15);
}
//
///* 5 *//* PRECONFIGURED PATTERNS */
.dropdown(@drp-button: false) {
    .dropdown {
        .drp-dropdown(@drp-button); 
    }
    div.dropdown[data-state="open"] {
        .arrow-selected(@bck-color: @dropdown-list-background-color; @border-color: @dropdown-list-border-color; @arrow-down: 11px);
        .caret {transform: rotate(180deg);}
    }
    .drp-button-disabled(@drp-button);
}
//
///* 6 *//* INITIALIZED PATTERNS */
.dropdown-init() {
    .dropdown();
}
//
/* cmp dropdown ----- [ OK ] */@state: OK;
///******************************************/
///*  	FIN
///******************************************/