///******************************************/
///*          flezz framework 1.0           */
///******************************************/
///*  Name: inputs
///*  Version: 0.2.0
///*  Description: description inputs
///*  Author: Giancarlo Ortiz.
///*  URI: http://www.zerez.org
///*  License: GNU General Public License v2 or later
///*  License URI: http://www.gnu.org/licenses/gpl-2.0.html
///*  Tags: inputs, mixin, plugin, css.
///******************************************/
///*  	Content
///*
///*  1. Config modules.
///*  2. Road map.
///*  3. Base Modules.
///*  4. Config mixin.
///*  5. preconfigured patterns.
///*  6. initialized patterns.
///******************************************/
///* PATH */
//
///* Dependencies */
@import 'desing/_config.desing.less';
//
///* 1 *//* CONFIG MODULES VARIABLES *///
//
///* global variables */
///* input general option */
@input-margin-left: true;
@input-text-inline: true;
@input-focus-depth: true;
@input-focus-scale: true;
@input-focus-shadow: false;
///* input size option */
@input-margin-left-width: 14px;
@input-border-radius: 7px;
@input-size: 7;
///* input label option */
@input-label-font-family: @font-bold;
@input-label-font-color: #205081;
///* input color option */
@input-background-color: @gray05;
@input-border-color: @gray20;
@input-font-color: lighten(@input-label-font-color, 10%);
@input-icon-color: saturate(@input-label-font-color, 90%);
@input-afix-color: darken(@input-border-color, 10%);
///* input event color option */
@input-shadow-color: @zerez-blue;
@input-focus-border-color: darken(@input-border-color,7%);
@input-focus-shadow-color: fade(@input-border-color,30%);
//
///* local variables */
.input-local-var() {
    //@textarea-margin: @input-margin-left + 5px;
    @input-line-height: @button-line-height;
    @size: @input-size;
    @font-base: 1rem * (@size + 6) * 10/100;
    //@padSup: @font-base * (@size + 3) * 1/20;
    //@padLat: 1rem * (@size + 1) * 15/100;
    @padSup: 1em * (@size + 5) * 6/100;
    @padLat: 1em * (@size + 4) * 8/100;
    @padding: @padSup @padLat;
    ///* padding type buttons */
    @gap-fixed: 0.39;
    @padSup-fixed: 1em * (61 * @size + 440 - 1000 * @gap-fixed) * 1/1000;
    @padLat-fixed: 1em * (9 * @size + 100) * 5/1000;
    @button-fixed-padding: @padSup-fixed @padLat-fixed;
    //
    @padSup-no-padding: 1em * (66 * @size + 355) * 1/1000;
    @padLat-no-padding: 1em * (9 * @size + 100) * 5/1000;
    @button-no-padding: @padSup-no-padding @padLat-no-padding;
    //
    @gap-link: 0.39;
    //            1em * (51 * @size + 287) * 1/1000;
    //            1em * (61 * @size + 140) * 1/1000;
    @padSup-link: 1em * (46 * @size + 624 - 1000 * @gap-link) * 1/1000;
    @padLat-link: 1em * (9 * @size + 100) * 5/1000;
    @button-link-padding: @padSup-link @padLat-link;
    //@btn-height: @font-base + 2 * @padSup;
    //@radius-em: unit(@input-border-radius)/(16*4);

    @input-field-margin: 1rem*(34*@size + 88)/200;
    @input-error-botom-position: 1rem*(23*@size + 200)/200;
    @input-margin-Top-width: 0.23em;
}
//
///* 2 *//* ROAD MAP */
// --------------------------------------------------


// --------------------------------------------------
//
///* 3 *//* BASE MODULES */
.inp-field() {
    font-size: @font-base;
    position: relative;
    clear: both;
    margin: 0 0 @input-field-margin;
    .inp-margin-left();

    ///* general button */
    button {
        font-family: 'OpenSansBold';
        color: @input-background-color;
        line-height: 1;
        background-color: @input-label-font-color;
        border: 1px solid @input-label-font-color;
        outline: 1px solid @input-label-font-color;
        white-space: nowrap;
        display: table-cell;
        width: auto;
        -webkit-transition: background-color 300ms ease-out;
        -moz-transition: background-color 300ms ease-out;
        -o-transition: background-color 300ms ease-out;
        transition: background-color 300ms ease-out;

        &:hover {
            background-color: darken(@input-label-font-color,5%);
            border: 1px solid darken(@input-label-font-color,5%);
            outline: 1px solid darken(@input-label-font-color,5%);
        }
    }
    ///* button */
    & > button {
        padding: 1em*(6*@size + 19)*1/100 0.7em;
    }
    ///* icon-right and shadow */
    & > span {
        position: absolute;
        right: 0.5em;
        bottom: @padSup/2;
        padding: @padSup/2 0.2em @padSup/2 2.1em;
        color: @input-icon-color;
        background-image: -webkit-linear-gradient(left, fade(@input-background-color, 0%) 0%, fade(@input-background-color, 100%) 50%, fade(@input-background-color, 0%) 90%);
        background-image: -o-linear-gradient(left, fade(@input-background-color, 0%) 0%, fade(@input-background-color, 100%) 50%, fade(@input-background-color, 0%) 90%);
        background-image: linear-gradient(to right, fade(@input-background-color, 0%) 0%, fade(@input-background-color, 100%) 50%, fade(@input-background-color, 0%) 90%);
        z-index: 10;
    }
    ///* focus icon-right and shadow */
    & > input[type="text"]:focus + span {
        @input-background-focus: lighten(@input-background-color, 10%);
        background-image: -webkit-linear-gradient(left, fade(@input-background-focus, 0%) 0%, fade(@input-background-focus, 100%) 50%, fade(@input-background-focus, 0%) 90%);
        background-image: -o-linear-gradient(left, fade(@input-background-focus, 0%) 0%, fade(@input-background-focus, 100%) 50%, fade(@input-background-focus, 0%) 90%);
        background-image: linear-gradient(to right, fade(@input-background-focus, 0%) 0%, fade(@input-background-focus, 100%) 50%, fade(@input-background-focus, 0%) 90%);
    }

    & > .error {
        position: absolute;
        background-color: red;
        color: white;
        padding: 0 0.7em;
        border-radius: 4px;
        right: 2px;
        bottom: -1*@input-error-botom-position;

        & > .arrow {
            border-bottom: 5px solid red;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            height: 0;
            position: absolute;
            top: -4px;
            right: 25px;
            width: 0;
        }
    }
}

.inp-input(@opc-type) when (@opc-type = 'text') {
    & > input[type="text"] {
        padding-right: 2em;
        border-radius: @input-border-radius;
        margin-top: @input-margin-Top-width;
    }

    input[type="text"] {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        //-webkit-tap-highlight-color: rgba(255,255,255,0);
        //tap-highlight-color: rgba(255,255,255,0);
        box-shadow: 0 0 0 0 transparent inset;
        -webkit-appearance: none;
        -webkit-transition: color .1s ease,border-color .1s ease;
        -moz-transition: color .1s ease,border-color .1s ease;
        -o-transition: color .1s ease,border-color .1s ease;
        transition: color .1s ease,border-color .1s ease;
    }
    ///* input-text-focus */
    & > input[type="text"]:focus,
    & > .focus {
        .inp-focus-scale();
        .inp-focus-shadow();
    }

    & > input[type="text"]:focus,
    .focus > input[type="text"] {
        .inp-focus-scale-fix();
    }

    & > .focus {
        .inp-focus-depth-fix();
    }
}

.inp-input(@opc-type) when (@opc-type = 'checkbox') {
    input[type='checkbox'] {
        vertical-align: middle;

        &::before {
            clear: both;
            content: "\000a";
        }
    }
}

.inp-input(@opc-type) when (@opc-type = 'radio') {
    input[type='radio'] {
        vertical-align: middle;

        &::before {
            clear: both;
            content: "\000a";
        }
    }
}

//
///* 4 *//* CONFIG MIXIN */
.inp-margin-left() when (@input-margin-left = true) {
    & > input, .afix, .prefix, .postfix, .set {
        margin-left: @input-margin-left-width;
    }

    & > input[type="text"], .afix, .prefix, .postfix {
        width: ~'calc(100% - @{input-margin-left-width})';
    }
}

.inp-focus-depth() when (@input-focus-depth = true) and (@input-focus-shadow = false) {
    border-color: darken(@input-border-color, 7%) lighten(@input-border-color, 7%) lighten(@input-border-color, 7%) darken(@input-border-color, 3%);
}

.inp-focus-depth-fix() when (@input-focus-depth = true) and (@input-focus-shadow = false) {
    & > span {
        border-bottom-color: lighten(@input-border-color, 7%) !important;
    }
}

.inp-focus-scale() when (@input-focus-scale = true) {
    -webkit-transform: scale(1.02,1);
    -moz-transform: scale(1.02,1);
    -ms-transform: scale(1.02,1);
    -o-transform: scale(1.02,1);
    transform: scale(1.02,1);
}

.inp-focus-scale-fix() when (@input-focus-scale = true) {
    border-left-width: 2px;
    border-right-width: 0;
}

.inp-focus-shadow() when (@input-focus-shadow = true) {
    @color-inset: lighten(@input-background-color, 10%);
    box-shadow: inset 0 0 0 1px @color-inset, 0 0 0 2px lighten(@input-shadow-color, 35%), 0 0 15px 3px fade(@input-shadow-color, 30%);
    border-color: @color-inset;
    border-radius: @input-border-radius + 1px;

    & > input {
        border-color: @color-inset;
    }
}

.inp-reset() {
    input {
        outline: 0;
    }
}

.inp-afix() {
    .fixed {
        width: 100%;

        & > input[type="text"] {
            padding-right: 3em;
        }
    }

    .fixed,
    .afix,
    .prefix,
    .postfix {
        display: table;
        position: relative;
        border-collapse: separate;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        overflow: hidden;
        margin-top: @input-margin-Top-width;

        & > span {
            white-space: nowrap;
            background-color: @input-afix-color;
            padding: @padSup 1em;
            margin: 0;
            color: white;
            display: table-cell;
            border: 1px solid @input-afix-color;
            width: 1%;
            vertical-align: middle;

            & > i {
                width: unit(@font-base)*1em !important;
            }
            //button-without-padding
            & > button {
                padding: @button-no-padding;

                & > i {
                    font-size: 0.9em;
                }
            }
        }

        & > input {
            display: table-cell;
            margin: 0;
            float: left;
            width: 100% !important;
        }
        //button-link
        & > .button {
            padding: 0;
            overflow: hidden;
            border-width: 0 !important;

            & > a {
                padding: @button-link-padding;
            }
        }
        //button-fixed-padding
        & > button {
            position: absolute;
            right: 1em*@gap-fixed;
            top: 1em*@gap-fixed;
            padding: @button-fixed-padding;

            & > i {
                font-size: 0.9em;
            }
        }
    }

    .afix > input[type="text"],
    .prefix > input[type="text"],
    .afix > input[type="text"]:focus,
    .prefix > input[type="text"]:focus {
        border-left-color: @input-afix-color !important;
    }

    .afix > input[type="text"],
    .postfix > input[type="text"],
    .afix > input[type="text"]:focus,
    .postfix > input[type="text"]:focus {
        border-right-color: @input-afix-color !important;
    }

    .afix > span:first-child,
    .postfix > input[type="text"],
    .prefix > span {
        -webkit-border-top-left-radius: @input-border-radius;
        border-top-left-radius: @input-border-radius;
        -webkit-border-bottom-left-radius: @input-border-radius;
        border-bottom-left-radius: @input-border-radius;
        border-right: none;
    }

    .afix > span:last-child,
    .prefix > input[type="text"],
    .postfix > span {
        -webkit-border-top-right-radius: @input-border-radius;
        border-top-right-radius: @input-border-radius;
        -webkit-border-bottom-right-radius: @input-border-radius;
        border-bottom-right-radius: @input-border-radius;
        border-left: none;
    }

    .afix > input[type="text"] {
        border-right: none;
        border-left: none;
    }
}
//
///* 5 *//* PRECONFIGURED PATTERNS */
.inputs-field() {
    .field {
        .inp-reset();
        .inp-field();
        .inp-input('text');
        .inp-input('checkbox');
        .inp-input('radio');
        .inp-afix();
    }
}

.input-general() {
    input[type="text"] {
        font-size: @font-base;
        line-height: @input-line-height;
        padding: @padSup 0.7em @padSup 0.7em;
        background: @input-background-color;
        border: 1px solid @input-border-color;
        color: @input-font-color;
        z-index: 1;

        &:focus {
            background: lighten(@input-background-color, 10%);

            & + span > i {
                color: @zerez-blue;
            }

            .inp-focus-depth();
        }
    }
    
    label {
        color: @input-label-font-color;
        font-family: @input-label-font-family;    
        font-size: .7*@font-base;
        text-transform: capitalize;
    }
}

.input-autofill() {
    @autofill-color: rgb(250, 250, 240);

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        //transition: background-color 5000s ease-in-out 0s !important;
        -webkit-box-shadow: 0 0 0px 1000px @autofill-color inset !important;
        box-shadow: 0 0 0px 1000px @autofill-color inset !important;
    }

    .field > input[type="text"]:-webkit-autofill:focus + span,
    .field > input[type="text"]:-webkit-autofill + span {
        color: gold;
        background-image: -webkit-linear-gradient(left, fade(@autofill-color, 0%) 0%, fade(@autofill-color, 100%) 50%, fade(@autofill-color, 0%) 90%) !important;
        background-image: -o-linear-gradient(left, fade(@autofill-color, 0%) 0%, fade(@autofill-color, 100%) 50%, fade(@autofill-color, 0%) 90%) !important;
        background-image: linear-gradient(to right, fade(@autofill-color, 0%) 0%, fade(@autofill-color, 100%) 50%, fade(@autofill-color, 0%) 90%) !important;
    }
}
//
///* 6 *//* INITIALIZED PATTERNS */
.input-init() {
    .input-local-var();
    .input-general();
    .inputs-field();
    .input-autofill();
}
//
/* cmp input -------- [ OK ] */@state: OK;
///******************************************/
///*  	FIN
///******************************************/