///******************************************/
///*          flezz framework 1.0           */
///******************************************/
///*  Name: inputs
///*  Version: 0.1.1
///*  Description: description inputs
///*  Author: Giancarlo Ortiz.
///*  URI: http://www.zerez.org
///*  License: GNU General Public License v2 or later
///*  License URI: http://www.gnu.org/licenses/gpl-2.0.html
///*  Tags: inputs, mixin, plugin, css.
///******************************************/
///*  	Content
///*
///*  1. Config modules.
///*  2. Road map.
///*  3. Base Modules.
///*  4. Config mixin.
///*  5. preconfigured patterns.
///*  6. initialized patterns.
///******************************************/
///* PATH */
//
///* Dependencies */

//
///* 1 *//* CONFIG MODULES VARIABLES *///
//
///* global variables */
///* general option */
@form-background: #efefef;

@input-font-color: #205081;
@label-font-color: #205081;
@input-afix-color: darken(@input-border-color, 10%); //lighten(@input-font-color, -10%);

@input-background-color: #fafafa;
@input-border-color: darken(@form-background, 4%);//#dddddd;
@input-border-radius: 0;//.28571429rem;
@input-focus-border-color: darken(@input-border-color,7%);
@input-focus-shadow-color: fade(@input-border-color,30%);

@input-size: 4;
@input-margin-left: 15px;
//
///* local variables */
@textarea-margin: @input-margin-left + 5px;


@nav-link-hover-bg: red;
@link-color: blue;
@line-height-base: 1.428571429; //20/14
@tbs-padd-top: 10px;
@tbs-padd-left: 15px;
@dfl-size: @input-size;
//
///* 2 *//* ROAD MAP */
// --------------------------------------------------
@input-font-color: #205081;
@input-afix-color: darken(@input-border-color, 10%); //lighten(@input-font-color, -10%);

@input-background-color: #fafafa;
@input-border-color: darken(@form-background, 4%);//#dddddd;
@input-border-radius: 0;//.28571429rem;
@input-focus-border-color: darken(@input-border-color,7%);
@input-focus-shadow-color: fade(@input-border-color,30%);

@input-margin-left: 15px;
// --------------------------------------------------
//
///* 3 *//* BASE MODULES */
.inp-field() {
    margin: 0 0 1em;
    position: relative;
    clear: both;
    
    button {
        font-size: 0.5em;
        font-family: 'OpenSansBold';
        background-color: @input-font-color;
        color: @input-background-color;
        line-height: 1.2142em;
        padding: .67861429em 1em;
        border: 1px solid rgba(34,36,38,.15);
        white-space: nowrap;
        display: table-cell;
        width: auto;
        height: ~'calc(1.9142rem + 2px)';
    }
    
    label {
        //display: block;
        margin: 0 0 .28571429rem;
        color: @input-font-color;
        font-family: 'OpenSansBold';    
        font-size: .7em;
        //font-weight: bolder;
        text-transform: capitalize;
    }
}
//
///* 4 *//* CONFIG MIXIN */
.inp-txt(@size: 4) {
    width: ~'calc(100% - @{input-margin-left})'; 
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    //   display: block;
    font-family: 'OpenSansLight';
    margin: 0 0 0 @input-margin-left;
    outline: 0;
    //
    //    tap-highlight-color: rgba(255,255,255,0);
    line-height: 1.2142em;
    background: @input-background-color;
    border: 1px solid @input-border-color;
    color: rgba(0,0,0,.87);
    border-radius: @input-border-radius;
    box-shadow: 0 0 0 0 transparent inset;
    -webkit-appearance: none;
    -webkit-transition: color .1s ease,border-color .1s ease;
    transition: color .1s ease,border-color .1s ease;
    .fnt-padding(@size: 4);
    font-size: @fontBase;
    padding: @padding; //.67861429em 1em;
    
    &:focus {
        //        color: rgba(0,0,0,.95);
        //        border-color: @input-focus-border-color;
        //        border-radius: .28571429rem;
        background: darken(@input-background-color,-10%);
        //-webkit-box-shadow: inset 1px 1px 7px 0 darken(@input-background-color,10%),0 0 8px @input-focus-shadow-color;
        //box-shadow: inset 1px 1px 7px 0 darken(@input-background-color,10%),0 0 8px @input-focus-shadow-color;
        border-top: 1px solid darken(@input-border-color, 10%);
        border-bottom: 1px solid darken(@input-border-color, -5%);
        border-left: 1px solid darken(@input-border-color, 10%);
        border-right: 1px solid darken(@input-border-color, -5%);
    }    
}

.inp-chk(@size: 4) {
    vertical-align: middle;
    margin: 0 0 0 @input-margin-left;

    &::before {
        clear:both;
        content: "\000a";
    }
}

.inp-rdo(@size: 4) {
    vertical-align: middle;
    margin: 0 0 0 @input-margin-left;

    &::before {
        clear:both;
        content: "\000a";
    }
}

.inp-txt-area() {
    width: ~'calc(100% - @{textarea-margin})';
    margin: 0 0 0 @input-margin-left !important;
    resize: vertical;
    outline: 0;
    border-color:@input-border-color;
}

.inp-fieldset() {
    margin-bottom: 1em;
    padding: 1em 2em;
}

.inp-afix() {
    .afix,
    .prefix,
    .postfix {

        width: ~'calc(100% - @{input-margin-left})';
        display: table;
        margin: 0 0 0 @input-margin-left;
        position: relative;
        border-collapse: separate;
        box-sizing: border-box;
        //margin: 0 0 0 10px;


        & span {
            white-space: nowrap;
            background-color: @input-afix-color;    
            padding: 0 10px;
            margin: 0;
            color: white;
            display: table-cell;
            border: 1px solid darken(@input-border-color, 10%);
            width: 1%;
            vertical-align: middle;
        }

        & input{
            display: table-cell;
            margin: 0;
            float: left;
            width: 100%;
        }
        .button{
            padding: 0;
        }
    }

    .prefix {
        & span {
            //-webkit-border-top-left-radius: .28571429rem;
            //-webkit-border-bottom-left-radius: .28571429rem;
            border-right: none;
        }
        & input{
            -webkit-border-top-left-radius: 0;
            -webkit-border-bottom-left-radius: 0;
            border-left: none;
            &:focus{
                border-left:none;

            }

        }
    }

    .postfix {
        & span {
            //-webkit-border-top-left-radius: .28571429rem;
            //-webkit-border-bottom-left-radius: .28571429rem;
            border-left: none;//1px solid @input-afix-color;
        }
        input{
            border-right: none;
            -webkit-border-top-right-radius: 0;
            -webkit-border-bottom-right-radius: 0;
            &:focus{
                border-left-color: @input-border-color;
                border-right: none;

            }
        }    
    }

    .afix {
        & span:first-child {
            //-webkit-border-top-left-radius: .28571429rem;
            //-webkit-border-bottom-left-radius: .28571429rem;
            border-right: none;
        }
        & span:last-child {
            //-webkit-border-top-left-radius: .28571429rem;
            //-webkit-border-bottom-left-radius: .28571429rem;
            border-left: none;
        }
        & input{
            border-radius: 0;
            border-right: none;
            border-left: none;
            &:focus{
                border-right: none;
                border-left: none;

            }
        }    
    }
}
//
///* 5 *//* PRECONFIGURED PATTERNS */
.inputs-field(){
    field {
        .inp-field();
        .inp-afix();
        
        input[type="text"] {
            .inp-txt(@size: 4);
        }

        textarea {
            .inp-txt-area();
        }

        input[type='checkbox']{
            .inp-chk(@size: 4);
        }

        input[type='radio']{
            .inp-rdo(@size: 4)
        }

        fieldset{
            .inp-fieldset();
        }
        
    }
}
//
///* 6 *//* INITIALIZED PATTERNS */
.input-init(){

}
//
/* input cmp ------ [ OK ] */@state: OK;
///******************************************/
///*  	FIN
///******************************************/