///* Dependencies */
@import 'docs.style.less';
/* color check */
html {
    font-size: 14px;
}

ul {
    margin: 0;
    padding: 0;
    
    width: auto;
    float: left;

    li {
        background-color: beige;
        list-style: none;

        a {
            display: block;
            text-decoration: none;
            color: black;
            padding: 20px;
            border: 1px solid #cccccc;
        }
        &.selected {
            font-weight: bold;
            .arrow-selected(); 
            a {
                color: cornflowerblue;
            }
        }
    }
}

.panel-down {
    display: inline-block;
    position: absolute;
    padding: 15px;
    top: 102px;
    left: 626px;
    background-color: white;
    border: 1px solid #cccccc;
    text-align: center;
    min-width: 150px;
    clear: both;
}
.clear:after,
.clear:before {
    position: static;
     content: "";
     clear: both;
}
//
.mostrar{.btn-default(7);}
.aceptar{.btn-primary(7);}
.enviar{.btn-success(7);}
.consultar{.btn-info(7);}
.calcular{.btn-warning(7);}
.borrar{.btn-danger(7);}
//
.mostrar-plain{.button-secondary(7);}
.aceptar-plain{.button-default(7);}
.enviar-plain{.button-success(7);}
.consultar-plain{.button-info(7);}
.calcular-plain{.button-caution(7);}
.borrar-plain{.button-alert(7);}
//
.nueve{.btn-primary(9);}
.ocho{.btn-primary(8);}
.siete{.btn-primary(7);}
.seis{.btn-primary(6);}
.cinco{.btn-primary(5);}
.cuatro{.btn-primary(4);}
.tres{.btn-primary(3);}
.dos{.btn-primary(2);}
.uno{.btn-primary(1);}
.cero{.btn-primary(0);}
//
.radius{.button-radius(8);}
.round{.button-round(8);}
.square{.button-square(8);}
.expanded{margin-top:10px;.button-expanded(8);}
//
.disable{.button-disabled(8;0;false; false; true)}
.stop{.button-disabled(7;0;true; false; false)}
//
/* color check   ---- [ OK ] */@state: OK;
///******************************************/
///*  	FIN
///******************************************/