///******************************************/
///*          flezz framework 1.0           */
///******************************************/
///*  Name: skeleton
///*  Version: 1.0
///*  Description: basic skeleton.
///*  Author: Giancarlo Ortiz.
///*  URI: http://www.zerez.org
///*  License: GNU General Public License v2 or later
///*  License URI: http://www.gnu.org/licenses/gpl-2.0.html
///*  Tags: mixin, css.
///******************************************/
///*  	Content
///*
///*  1. Declarations.
///******************************************/
///* Dependencies */
@import '../core/flezz.core.less';
///* local variables */
//
///* 1 */
header {
    background-color: fade(@primary-header-background, @box-opacity);
    color: @primary-header-font-color;
    width: 100%;
    height: @header-height;
    overflow: hidden;
}
.desing() when (@header-fixed = true){
   header{
       position: fixed;
       top: 0;
       left: 0;
   }
    body{
        padding-top: @header-height;   
    }
}


.content-wrap{
    padding: 1rem;
}
/* include skeleton - [ OK ] */@state: OK;
///******************************************/
///*  	FIN
///******************************************/
