///* Unconfig Core *///
@import '../core/mixin/_by_default.core.less';
///* Docs config Core *///
.flezz-font-init();
.flezz-icon-init();
.design-init();
///* Docs Style *///
li {
    display: inline-block;
}

html {
    width: 100%;
}

body {
    font-family: 'OpenSansLight','Segoe UI','Verdana';
    width:100%;
    background-color: red;
    color: gray;
}

section {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #fafaee;
    border: 2px dashed #c7c7c7;
    padding: 30px;
    margin-left: 20%;
    margin-right: 10%;
}
