///* Unconfig Core *///
@import '../core/mixin/_by_default.core.less';
///* Docs config Core *///
.flezz-font-init();
.flezz-icon-init();
.design-init();
///* Docs Style *///
li {display: inline-block;}

.totalScrollOffsetInfo{border:2px solid #fc0; font-size:12px; padding:20px; text-align:center; margin-bottom:60px;}
.totalScrollOffset{height:50px; background:#fc0;}